{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'blog.css' %}">
{% endblock styles %}

{% block content %}
<div class="col-md-8 offset-md-2">
    <h1>Blog Index</h1>
    <hr class="hr-title">
    <p>Here is a section that contains all of the blog posts.</p>

    {% for post in posts %}

        <div class="paragraphs">
            <div class="row">
                <div class="span12">
                    {% if post.image %}
                    <img class="menu-img" style="float:left; padding-right:20px;" src="{{ post.image.url }}" width="200" />
                    {% else %}
                    {% endif %}
                    <h2><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h2>
                    <small>
                    {{ post.created_on.date }} |&nbsp;
                    Categories:&nbsp;
                    {% for category in post.categories.all %}
                        <a href="{% url 'blog_category' category.name %}">
                            {{ category.name }}
                        </a>&nbsp;
                    {% endfor %}
                    </small>
                    <p>{{ post.body | slice:":100" }}...</p>
                    <div style="clear:both"></div>
                </div>
            </div>
        </div>


        <hr>

    {% endfor %}
</div>
{% endblock content %}
