{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'blog_static/blog.css' %}">
{% endblock styles %}

{% block content %}
<div class="col-md-8 offset-md-2 not-homepage">
    <h1 class="page-title">Blog Index</h1>
    <hr class="hr-title">
    <p>Here is a section that contains all of the blog posts.</p>

    <div class="row">

        {% for post in posts %}

        <div class="col-md-4 blog-card">
            <div class="card mb-4 text-white h-100 bg-dark">
                <img class="card-img-top blog-img" src="{{ post.image.url }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <div class="font-italic text-muted small">{{ post.created_on.date }}</div>
                    <p class="card-text">{{ post.body | slice:":100" }}...</p>
                    <a href="{% url 'blog_detail' post.pk %}" class="btn btn-outline-light btn-sm">Continue reading</a>
                </div>
            </div>
        </div>

        {% endfor %}
        
    </div>
</div>
{% endblock content %}