{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'blog.css' %}">
{% endblock styles %}

{% block content %}
<div class="col-md-8 offset-md-2">
    <h1>Blog Index</h1>
    <hr class="hr-title">
    <p>Here is a section that contains all of the blog posts.</p>

    <div class="row">

        {% for post in posts %}

        <div class="col-sm-10">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">

                {# left hand side of card #}
                <div class="col p-4 d-flex flex-column position-static">
                    {# post title #}
                    <a href="{% url 'blog_detail' post.pk %}" class=""><h3 class="mb-0">{{ post.title }}</h3></a>

                    {# post created date #}
                    <div class="mb-1 text-muted">{{ post.created_on.date }}</div>

                    {# post preview #}
                    <p class="card-text mb-auto">{{ post.body | slice:":100" }}...</p>

                    {# link to rest of post#}
                    <a href="{% url 'blog_detail' post.pk %}" class=""><p>Continue reading</p></a>
                </div>

                {# right hand side of card - image thumbnail #}
                <div class="col-auto d-none d-lg-block">
                    <img class="object-fit-cover" width="200" height="250" src="{{ post.image.url }}"/>
                </div>

            </div>
        </div>
        <hr>
        {% endfor %}

    </div>
</div>
{% endblock content %}
