{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'home_static/home.css' %}">
{% endblock styles %}


{% block content %}

<div class="text-center">
    <section class="landing-section landing-main" style="">
        <div class="landing-section-content">
            <img class="img-fluid" src="{% static 'home_static/me.jpg' %}">
            <h1 class="main-title"><b>Tom Whitehead</b></h1>
            <hr class="hr-title">
            <h3 class="landing-main-text tagline">A collection of some of my personal technology projects</h3>
        </div>
    </section>


    <div class="col-md-6 offset-md-3 about">
        {% for a in about %}
        {{ a.formatted_markdown|safe }}
        {% endfor %}
    </div>
</div>
{% endblock content %}