{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'home_static/home.css' %}">
{% endblock styles %}


{% block content %}

<div class="text-center">
    <section class="landing-section landing-main" style="">
        <div class="landing-section-content">
            <img class="img-fluid" src="{% static 'home_static/me.jpg' %}">
            <h1 class="main-title"><b>Tom Whitehead</b></h1>
            <hr class="hr-title">
            <h4 class="landing-main-text tagline">A collection of some of my personal technology projects</h4>
        </div>
    </section>


    <div class="col-md-6 offset-md-3 about">
        <p>Hey, my name is Tom - welcome to my website! Here you'll find a collection of some of the projects I've
            built. I mostly build stuff using Python, but I'm always looking to increase my skillset. If you have any
            feedback on some of the work I've done, or if you'd like to collaborate, then please get in touch with me on
            the Contact page.</p>
    </div>
    <hr>
    <h4>About Me</h4>
</div>

<div class="analysis-options">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-4 text-center left-analysis-option">
                <a class="option" href="#">
                    <div class="icon text-center">
                        <i class="fas fa-tasks fa-4x"></i>
                    </div>
                    <h3>Projects</h3>
                    <p>See an example of some of my personal projects</p>
                </a>
            </div>

            <div class="col-xl-4 col-md-4 text-center analysis-option">
                <a class="option" href="#">
                    <div class="icon">
                        <i class="far fa-comment-dots fa-4x"></i>
                    </div>
                    <h3>Blog</h3>
                    <p>Blog posts</p>
                </a>
            </div>

            <div class="col-xl-4 col-md-4 text-center analysis-option">
                <a class="option" href="#">
                    <div class="icon text-center">
                        <i class="far fa-envelope fa-4x"></i>
                    </div>
                    <h3>Contact Me</h3>
                    <p>Get in touch with me</p>
                </a>
            </div>

        </div>

    </div>
</div>
{% endblock content %}