<!-- <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #17252A;">
<div id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-item {{ home_page }}">
      <a class="nav-link" href="{% url 'home' %}">About</a>
    </li>
    <li class="nav-item {{ job_page }}">
      <a class="nav-link" href="{% url 'job_index' %}">Projects</a>
    </li>
    <li class="nav-item {{ blog_page }}">
      <a class="nav-link" href="{% url 'blog_index' %}">Blog</a>
    </li>
    <li class="nav-item {{ contact_page }}">
      <a class="nav-link" href="{% url 'contact_index' %}">Contact</a>
    </li>
  </ul>
</div>
</nav> -->

<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg navbar-dark  fixed-top navbar-custom">
  <a class="navbar-brand logo-navbar" href="{% url 'home' %}">TW</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {{ home_page }}">
          <a class="nav-link" href="{% url 'home' %}">About</a>
        </li>
        <li class="nav-item {{ job_page }}">
          <a class="nav-link" href="{% url 'job_index' %}">Projects</a>
        </li>
        <li class="nav-item {{ blog_page }}">
          <a class="nav-link" href="{% url 'blog_index' %}">Blog</a>
        </li>
        <li class="nav-item {{ contact_page }}">
          <a class="nav-link" href="{% url 'contact_index' %}">Contact</a>
        </li>
      </ul>
  </div>
</nav>
<!-- Navbar End -->