a {
    color: #17252a;
}

.object-fit-cover {
  object-fit: cover;
}

.comment-form {
    margin-bottom: 20px;
}

.blog-img {
  max-height: 150px;
  object-fit: cover;
}

.blog-card {
  padding-bottom: 20px;
}