.hr-title {
    color:#17252a;
    max-width: 15rem;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid .25rem;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-height: 300px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.tagline {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.landing-section {
  min-height: 80vh;
  width: 100vw;
  max-width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.landing-main {
  background: url("banner.jpg") no-repeat center center fixed;
  background-size:cover;
}
