{% extends 'tracklist_base.html' %}
{% load static %}


{% block tl_content %}
{% include 'tracklist_alerts.html' %}
<h3 class="tl-h1">Tracklistify</h3>
<hr class="hr-title">
{% if tracklist and tracklist != "Error" %}
<p>These are the tracks I managed to find on Spotify</p>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Artist</th>
        <th scope="col">Track</th>
        <th scope="col">Found?</th>
    </tr>
    </thead>
    <tbody>
    {% for track in tracklist %}
    {% if track.found %}
    <tr class="true">
        {% else %}
    <tr class="false">
        {% endif %}
        <td>{{ track.artist|join:", " }}</td>
        <td>{{ track.title| join:" " }}</td>
        <td>{{ track.found }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
<hr>
<a class="btn btn-primary btn-spotify" href="{% url 'tracklist' %}">Start again</a>
<a class="btn btn-primary btn-spotify" href="{{ playlist_link }}">Go to your playlist</a>
{% endblock tl_content %}