{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'tracklist_static/tracklist.css' %}">
{% endblock styles %}

{% block content %}
<div class="col-md-8 offset-md-2">

    {% if found %}
    <div class="header-alert">
        <div class="alert alert-success">
            <strong>Success!</strong> Managed to find {{ found }} out of {{ total }} tracks!
        </div>
    </div>
    {% endif %}

    {% if tracklist == "Error" %}
    <div class="header-alert">
        <div class="alert alert-danger">
            Process failed, unable to find tracklist at specified URL :(
        </div>
    </div>
    {% endif %}

    <h1>Tracklistify</h1>
    <hr class="hr-title">
    <p>Found a radio show that you love and would like to create a playlist from? Tracklistify has got you. Simply authorise your Spotify account and enter a URL for a radio show that contains a tracklist
        (<a href="https://www.nts.live/shows/youll-soon-know/episodes/you-ll-soon-know-27th-june-2019">for example</a>)
        and Tracklistify will do the rest!</p>
    <p>This currently only works for NTS and BBC iPlayer radio shows, but will be adapted for other websites very soon!</p>

    {# sign into spotify #}
    <h2>Step 1: Sign into Spotify</h2>
    <hr>
    {% if spotify_username %}
    <span>Logged in bro! Your spotify username is: {{ spotify_username }}</span>
    <a href="{% url 'logout' %}?next=/tracklist">(Click here to logout)</a>
    {% else %}
    <a href='{% url "social:begin" "spotify" %}'>Connect to Spotify</a>
    {% endif %}

    {% if spotify_username %}

        <h2>Step 2: Enter a radio show</h2>
        <hr>
        <form action="." method="post" class="submit">
            {% csrf_token %}
            <div class="form-group">
                {{ tl_form.url }}
                <button type="submit" class="btn btn-primary" name="tracklist-submit">Submit tracklist</button>
            </div>
            {% if tl_form.errors %}
            {% include 'form_errors.html' %}
            {% endif %}
        </form>

        {% if tracklist and tracklist != "Error" %}
        <p>These are the tracks that I found at that website:</p>
        <table>
            <tr>
                <th>Artist</th>
                <th>Track</th>
                {% if complete %}<th>Found</th>{% endif %}
            </tr>
            {% for track in tracklist %}
            <tr>
                <td>{% for artist in track.artist %} {{ artist }} {% endfor %}</td>
                <td>{% for title in track.title %} {{ title }} {% endfor %}</td>
                {% if complete %}<td>{{ track.found }}</td>{% endif %}
            </tr>
            {% endfor %}
        </table>

        <h2>Step 3: Customise your playlist</h2>
        <hr>
        <form action="." method="post" class="submit">
            {% csrf_token %}
            <div class="form-group">
                {{ sp_form.playlist_name }}
            </div>

            {% if spotify_username %}
            <div class="form-group">
                <button type="submit" class="btn btn-primary" name="add-to-spotify">Add to playlist!</button>
            </div>
            {% endif %}
        </form>
        {% endif %}

    {% endif %}

</div>
{% endblock content %}