table {
    margin-top: 20px;
}

.header-alert {
    padding-top: 20px;
}

td, tr {
    margin-right:20px;
}

.hover-table {
    width:100%;
    border-collapse:collapse;
}

.foo {
    background: #999;
}

td label {
  display: block;
}

/* Define the hover highlight color for the table row */
table tr.true:hover {
      background-color: #d4edda;
}

table tr.false:hover {
      background-color: #f8d7da;
}


.centre-table {
    text-align: center;
    vertical-align: middle;
}

.btn-connect {
    margin-bottom:10px;
}

.btn-spotify {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    background-color: #1db954;
}

.btn-spotify:hover, .btn-spotify:focus, .btn-spotify:active, .btn-spotify.active, .open>.dropdown-toggle.btn-spotify {
    color: #fff;
    background-color: #0e5e2b;
}

.step-h2 {
    padding-top: 20px;
}