table {
    margin-top: 20px;
}

.header-alert {
    padding-top: 20px;
}

td, tr {
    margin-right:20px;
}

.white-bg {
    display: flex;
    min-height: 60vh;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(256, 256, 256, .85);
    padding:10px
}


.tl-content {
    padding: 30px;
}

@media (max-width: 978px) {
    .tl-content {
      padding:0;
    }
}


td {
    cursor: pointer;
}

.page-content {
 background: url("bg_4.jpg") no-repeat center center fixed;
  background-size:cover;
}


.error {
    margin-top:10px;
}

.hover-table {
    width:100%;
    border-collapse:collapse;
}

td label {
  display: block;
}

/* Define the hover highlight color for the table row */
table tr.true:hover {
      background-color: #d4edda;
}

table tr.false:hover {
      background-color: #f8d7da;
}


.centre-table {
    text-align: center;
    vertical-align: middle;
}

.btn-connect {
    margin-bottom:10px;
}

.btn-spotify {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    border-style: none;
    background-color: #1db954;
}

.btn-spotify:hover, .btn-spotify:focus, .btn-spotify:active, .btn-spotify.active, .open>.dropdown-toggle.btn-spotify {
    color: #fff;
    background-color: #0e5e2b;
}

.step-h2 {
    padding-top: 20px;
}