.hr-title {
    color:#17252a;
    max-width: 15rem;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid .25rem;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.tagline {
    text-align: justify;
}