{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'jobs_static/jobs.css' %}">
{% endblock styles %}


{% block content %}
<div class="col-md-8 offset-md-2">
    <h1>Projects</h1>
    <hr class="hr-title">
    <p>Here is a collection about some projects that I have completed</p>
    <div class="container">
        <div class="row">

            {% for job in jobs.all %}
            <div class="col-md-4 img-box">
                <a href="{% url 'job_detail' job.pk %}">
                    <img src="{{ job.image.url }}" class="object-fit-cover image">
                    <div class="caption">
                        <p class="caption-text">{{ job.title }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock content %}